<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API-KEY</key>
	<string>AIzaSyAYlchp4pNaOrDsBDMe-Use your key please fallow my medium article how to download the API Key</string>
</dict>
</plist>
